<%- include("partial/head",{header : 'My Order'}) %>
    <table border="1">
      <thead>
        <tr>
          <th>Tipe kamar</th>
          <th>Tanggal checkin</th>
          <th>Tanggal checkout</th>
          <th>Harga</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(el => { %>  
        <tr>
          <td><%= el.Room.room_type %></td>
          <td><%= getFullDate(el.start_date) %></td>
          <td><%= getFullDate(el.end_date)%></td>
          <td><%= calculatePrice(el.start_date,el.end_date,el.Room.price) %></td>
          <% if(el.status === 'reserve'){ %> 
          <td>
            <a href="/order/pay/<%= el.id %>">Pay</a> ||
            <a href="/order/cancel/<%= el.id %>">Cancel</a>
          </td>
          <% }else if(el.status === 'paid'){ %> 
            <td>
              <a href="/order/checkin/<%= el.id %>">Show QR</a>
            </td>
          <% }else if(el.status === 'checkin'){ %> 
            <td>
              Checked In
            </td>
          <% }else if(el.status === 'checkout'){ %> 
            <td>
              Completed
            </td>
          <% } %> 
        </tr>
        <% }) %> 
      </tbody>
    </table>
<%- include("partial/foot") %>