<%- include("partial/head",{header : 'My Profile'}) %>
    <img src="https://www.pngjoy.com/pngl/787/9346051_sackboy-person-unknown-png-hd-png-download.png" alt="Avatar" width="160" heigh="160" style="border-radius:80px"> 
    <h1><%= data.fullname() %> </h1>
    <h4>Email : </h4>
    <p><%= data.email %></p>
    <h4>No hp :</h4>
    <p><%= data.no_hp %></p>
<%- include("partial/foot") %>